<ion-view title="Add Marketing Manager" id="Add Marketing Manager">
  <ion-content padding="true" class="has-header">

    <form name="addForm" class="list" ng-submit="createServiceMan()">
      <ion-list id="add-list">

        <label class="item item-input" id="name">
          <span class="input-label">Name</span>
          <input type="text" name="name" ng-model="serviceMan.name" required>
        </label>

        <label class="item item-input" id="catagoroy">
          <span class="input-label">Catagory</span>
          <!-- <input type="text" name="catagoroy"> -->
          <span class="input-label">Marketing Manager</span>
        </label>

        <label class="item item-input" id="email">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="serviceMan.email" required>
        </label>

        <label class="item item-input" id="mobile">
          <span class="input-label">Mobile</span>
          <input type="text" name="mobile" ng-model="serviceMan.mobile" required>
        </label>

        <label class="item item-input" id="address">
          <span class="input-label">Address</span>
          <input type="text" name="address" ng-model="serviceMan.address" required>
        </label>


      </ion-list>
      <div class="spacer" style="height: 10;"></div>
      <div align='center'>
      <br/>{{test}}<br/><br/>
      <button id="addButton" class="button button-outline button-small button-balanced icon-left ion-android-done">Create User</button>
      </div>
      <!-- </div> -->
    </form>

  </ion-content>
</ion-view>