<ion-view title="Logout" id="logout">
    <ion-content padding="true" class="has-header">
        
        <div class="row">
            <h3>Do you want to Logout?</h3>
        </div>

        <div class="spacer" style="height: 150px;"></div>
        <div class="row">
            <div class="col col-50">
                <button id="logout-button" class="button button-positive  button-block" ng-click="logout()">Yes</button>
            </div>
            <div class="col col-50">
                <button id="logout-button" class="button button-stable  button-block" ng-click="noLogout()">No</button>
            </div>

        </div>
       
       

       
    </ion-content>
</ion-view>