<ion-view title="New User" id="newUser">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
     <br />
      <div class="item item-input item-button-right" id="newCatagory-input10">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Employee Name" name="e_name">
      </div>

      <label class="item item-input" id="newJob-select1" name="catagory">
          <span class="input-label">Catagory</span>
          <select>
              <option>Select a Employee type</option>
              <option value="5">Job Hunter</option>
              <option value="4">Worker</option>
              <option value="3">Manager</option>
              <option value="2">Director</option>
              <option value="1">Admin</option>
          </select>
      </label>

      <div class="item item-input item-button-right" id="newCatagory-input10">
          <span class="input-label">Job</span>
          <input type="text" placeholder="Employee Job" name="job">
      </div>

      <div class="item item-input item-button-right" id="newCatagory-input10">
          <span class="input-label">Mobile</span>
          <input type="text" placeholder="Mobile Number" name="mobile">
      </div>

      <div class="item item-input item-button-right" id="newCatagory-input10">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Employee Address" name="address">
      </div>

      <div class="row">
          <div class="col" align="center">
              <button class="button button-outline button-small button-balanced icon-left ion-android-done" >Create User</button>
          </div>
         
      </div>

  </ion-content>
</ion-view>