<ion-view title="Profile" id="profile">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <br />
    <div class="item item-body" id="profile-list-item-container3">
      <div id="profile-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Name :
          <strong>{{username}}</strong>
        </p>
      </div>
    </div>
    <div class="item item-body" id="profile-list-item-container4">
      <div id="profile-markdown7" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Job :
          <strong>{{job}}</strong>
        </p>
      </div>
    </div>
    <div class="item item-body" id="profile-list-item-container5">
      <div id="profile-markdown8" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Mobile :
          <strong>{{mobile}}</strong>
        </p>
      </div>
    </div>
    <div class="item item-body" id="profile-list-item-container7">
      <div id="profile-markdown10" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Address :
          <strong>{{address}}</strong>
        </p>
      </div>
    </div>
    <div class="item item-body" id="profile-list-item-container8">
      <div id="profile-markdown11" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Successful Jobs :
          <strong>N/A</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>